{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link type="text/css" rel="stylesheet" href="{% static 'auth_user/css/login_and_reg_styles.css' %}" />
</head>
<body class="login_body">
<h1 class="site_name">Astral Network</h1>

<form class='login' method="post">
    <h1 class="form_title">Log in</h1>
    {% csrf_token %}
    <div class="form_group">
        <input class="form_input" placeholder=" " {{ form.connection_code }}
        <label class="form_label">Your connection code</label>
    </div>
    <div class="form_group">
        <input class="form_input" placeholder=" " {{ form.password }}
        <label class="form_label">Password</label>
    </div>
    <button class='form_button' type="submit">Enter to Astral</button>
    <p class="to_reg">if it's your first time here, <a href="{% url 'register' %}">sign in</a>.</p>
</form>
<img class="background_connect" src="{% static 'auth_user/img/astral_connect.jpg' %}">
<img class="background" src="{% static 'auth_user/img/background.jpg' %}">
</body>
</html>