{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cosmic-Network</title>
    <link type="text/css" rel="stylesheet" href="{% static 'app/css/login_and_reg_style1.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'app/image/logo2.png' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'app/css/index_style1.css' %}" />
</head>
{% block content %}
{% if not is_auth %}
<body class="index_body">
    <a href="{% url 'register' %}"><button class="button1">Register</button></a>
    <h1 class="or">or</h1>
    <a href="{% url 'login' %}"><button class="button2">Login</button></a>
    <img class="back1" src="{% static 'app/image/background_login.jpg' %}">
    <img class="back2" src="{% static 'app/image/background_login.jpg' %}">
    <h1 class="title">COSMIC NETWORK</h1>
    <img class="logo" src="{% static 'app/image/logo2.png' %}">
</body>
{% else %}
<body class="home_body">
<header>
    <img class="logo1" src="{% static 'app/image/logo2.png' %}" >
    <h1 class="logo_name">COSMIC NETWORK</h1>
    <nav>
        <ul>
            <li><a href='id{{ user_id }}'>Profile</a></li>
            <li><a href="">Messages</a></li>
            <li><a href="">News</a></li>
            <li><a href="{% url 'search_users' %}">Search</a></li>
            <li><a class='l_cn' href="{% url 'logout_cn' %}">Logout</a></li>
        </ul>
     </nav>
</header>
<div class="news">
{% for content in content_subs %}
        <li><p>{{ content.datetime.day }}.{{ content.datetime.month }}.{{ content.datetime.year }} | {{ content.datetime.time }}</p>
        <p>{{ content.text }}</p>
        {% if content.image %}
            <p><img class="photos123" src="{{ content.image.url }}"></p>
        {% endif %}
        {% if content.video %}
            <p><video controls src="{{ content.video.url }}" ></video></p>
        {% endif %}
        {% if content.music %}
            <p><audio controls src="{{ content.music.url }}"></audio></p>
        {% endif %}
            <a href="like_news/{{ content.id }}/">Like</a>
        <a href="id{{ user_id }}/comments/{{ content.id }}/">Comments</a>
    {% endfor %}
</div>
</body>
{% endif %}
{% endblock %}
</html>