{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message for {{ name }}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'app/css/styles1.css' %}" />
</head>
<body>
{% for m in all_message %}
    {% if id1 == m.user2_id %}
    <img class="message_avatar" src="{{ photo2.url }}"> {{ m.user1.username }}
    {% endif %}
    {% if id1 == m.user1_id %}
    <img class="message_avatar" src="{{ photo1.url }}"> {{ m.user1.username }}
    {% endif %}
    <p>{{ m.text }}</p>
    {% if m.image %}
    <p><img src='{{ m.image.url }}'></p>
    {% endif %}
    {% if m.video %}
    <p><video controls src="{{ m.video.url }}"></video></p>
    {% endif %}
    {% if m.audio %}
    <p><audio controls src="{{ m.audio.url }}"></audio></p>
    {% endif %}
    <p>{{ m.datetime }}</p>
{% endfor %}
<br><br>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send</button>
</form>
</body>
</html>