{% extends 'app/header.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="icon" type="image/png" href="{% static 'app/image/logo2.png' %}" />
    <meta charset="UTF-8">
    <title>Profile: {{ name }}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'app/css/profile_style2.css' %}" />
</head>
<body>
<img class="avatar" src="{{ data.photo.url }}">
<h1 class="name">{{ name }}</h1>
{% if profile %}
    <p class="is_online">Online</p>
    <img class="online" src="{% static 'app/image/online.png' %}">
{% else %}
    <p class="is_online">Offline</p>
    <img class="online" src="{% static 'app/image/offline.png' %}">
{% endif %}
{% if data.status %}
    <p class="status">{{ data.status }}</p>
{% else %}
    {% if id1 == id2 %}
        <a class="edit_status" href="{% url 'edit_profile' %}">Add status</a>
    {% endif %}
{% endif %}
<div class="user_info">
    <p class="title_user_info">User info:</p>
    {% if data.phone %}
    <p class="phone">Number phone: {{ data.phone }}</p>
    {% else %}
    <p class="phone">Number phone: Not indicated</p>
    {% endif %}
    {% if data.birthdate %}
    <p class="birthdate">Birthdate: {{ data.birthdate.day }}.{{ data.birthdate.month }}.{{ data.birthdate.year }}</p>
    {% else %}
    <p class="birthdate">Birthdate: Not indicated</p>
    {% endif %}
    {% if data.sex %}
    <p class="gender">Gender: {{ data.sex }}</p>
    {% else %}
    <p class="gender">Gender: Not indicated</p>
    {% endif %}
    <p class="reg_date">Registration date: {{ reg_date.day }}.{{ reg_date.month }}.{{ reg_date.year }}</p>
    <p class="id">id: {{ id1 }}</p>
</div>
{% if id1 == id2 %}
    <a class="edit_profile" href="{% url 'edit_profile' %}">Edit profile</a><br>
{% endif %}
{% if id1 == id2 %}
    <a class="add_post" href="{% url 'add_post' %}">Add post</a>
{% endif %}
<h1 class="wall">Wall</h1>
<div class="scroll-area">
    {% if not posts %}
    <h2 class="help">Your posts will appear here</h2>
    {% endif %}
    {% for content in posts %}
        <li><p>{{ content.datetime.day }}.{{ content.datetime.month }}.{{ content.datetime.year }} | {{ content.datetime.time }}</p>
        <p>{{ content.text }}</p>
        {% if content.image %}
            <p><img class="photos123" src="{{ content.image.url }}"></p>
        {% endif %}
        {% if content.video %}
            <p><video controls src="{{ content.video.url }}" ></video></p>
        {% endif %}
        {% if content.music %}
            <p><audio controls src="{{ content.music.url }}"></audio></p>
        {% endif %}
        {% if id1 == id2 %}
            <a href="delete_post/{{ content.id }}/">Delete</a>
        {% endif %}
        {% if id1 != id2 %}
            <a href="like_post/{{ content.id }}/">Like</a>
        {% endif %}
        <a href="comments/{{ content.id }}/">Comments</a>
    {% endfor %}
</div>
{% if id1 != id2 %}
    {% if is_subs %}
        <a class="subs" href="subscribe/">Unsubscribe</a>
    {% else %}
        <a class='subs' href="subscribe/">Subscribe</a>
    {% endif %}
{% endif %}
<p class="info" >Followers: {{ count_followers }} | Likes: {{ count_likes }}</p>
{% if id1 != id2 %}
    <p><a class="message" href="/id{{ id1 }}/message/">Message</a></p>
{% endif %}
<img class="bg_profile" src="{% static 'app/image/bg_profile.png' %}">
{% endblock %}