{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<body class="login_body">
<h1 class="reg_site_name">COSMIC NETWORK</h1>
<p class="reg_help">Register (if you do not have accounts on this site or need a new one), to start using the site</p>

<form class='login' method="post">
    <h1 class="form_title">Register</h1>
    {% csrf_token %}
    <div class="form_group">
        <input class="form_input" placeholder=" " {{ form.username }}
        <label class="form_label">Nickname</label>
    </div>
    <div class="form_group">
        <input class="form_input" placeholder=" " {{ form.email }}
        <label class="form_label">E-mail</label>
    </div>
    <div class="form_group">
        <input class="form_input" placeholder=" " {{ form.password1 }}
        <label class="form_label">Password</label>
    </div>
    <div class="form_group">
        <input class="form_input" placeholder=" " {{ form.password2 }}
        <label class="form_label">Repeat password</label>
    </div>
    <button class='form_button' type="submit">Create account</button>
</form>
<img class="background_login" src="{% static 'app/image/background_login.jpg' %}">
</body>
{% endblock %}